#contenido div.link-js  {
	cursor: pointer;
        margin-bottom: 20px;
}

#contenido h3.titulo-materia {
	background-color: #3A87AD;
	color: white;
	padding: 0 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#contenido h4.comision {
	background-color: #eee;
	margin-bottom: 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#contenido li
{
        line-height: 20px;
}

#contenido .alert p
{
        margin: 0 0 3px;
}

input[readonly].editable_materia
{
    background-color: white;
    cursor: default;
}

input[readonly].no_editable_confirmada
{
    background-color: #afd8af;
    cursor: not-allowed;
}

input[readonly].no_editable_pendiente
{
    background-color: whitesmoke;
	cursor: not-allowed;
}

/* input[readonly] 
{
    background-color: #afd8af;
    cursor: default;
} */
