{% extends "kernel/una_columna.twig" %}
{% block titulo_operacion %}<h2>{{"tit_mixes"|trans|capitalize}}</h2>{% endblock %}
{% block columna_1 %}
	{{ this.render_pagelet('contenido') }}
{% endblock %}