{% extends "kernel/una_columna.twig" %}

{% block titulo_operacion %}

<h2 class="clearfix">
	<button class='btn btn-primary btn-small js-btn-back pull-left' data-url-back="{{url_back}}" alt="Volver"><span class="icon-chevron-left icon-white"></span></button>
	<span class="pull-left">{{"resumen de asistencias"|trans|capitalize}}</span>
</h2>
{% endblock %}

{% block columna_1 %}
    {{ resumen.render }}
{% endblock %}


